[*]
tab_width = 2
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.cabal]
indent_size = 2
tab_width = 2

[*.{golden,actual}]
tab_width = 4
indent_size = 4
insert_final_newline = false
